// colors
$black: #28282C;
$red: #FA4235;
$h-red: #FF5E53;
$grey: #535353;
$l-grey: #909090;

//gradients

// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;


// radius

// shadow

// bg images urls
